header {
    grid-area: header;
    text-align: center;
  }

.container-fluid{
  margin: 50px auto;
  height: 200px;
  background-color: azure; 
}

a:link,
a:visited {
  text-decoration: none;
  color: white;
  display: inline-block;
  text-align: center;
  padding: 14px 25px;
}

a:hover,
a:active {
  background-color: lightskyblue;
}

li {
  padding: 10px;
  margin-bottom: 10px;
  color:lightskyblue;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}


* {
  box-sizing: border-box;

}
/*MOBILE SIZING*/
[class*="col-"] {
  width: 100%;
}

[class*="col-"] {
  float: left;
  padding: 15px;
}

h1 {
    color: orangered;
    font-family: "Roboto Condensed", sans-serif;
  }



  h2 {
    color: orangered;
    font-family: "Roboto Condensed", sans-serif;
  }
  
  h3 {
    color: orangered;
    font-family: "Roboto Condensed", sans-serif;
  }

#introPara {
    color: orangered;
  }
  
  #workoutPara {
    color: orangered;
  }
  
  #healthyMeals {
    color: orangered;
  }
  
  #authorBio {
    color: orangered;
  }

  #introPara {
    font-size: 18px;
  }
  
  #workoutPara {
    font-size: 18px;
  }
  
  #healthyMeals {
    grid-area: nutrition;
    font-size: 18px;
  }

#authorBio {
    grid-area: bio;
  }
  
#iconPhoto{
      grid-area: photo;
      font-size: 50px;
      color: orangered;
  }
  

body{
    background-color: beige;
}

p{
    color: orangered;
    font-size: 15px;
    animation: 3s infinite alternate slidein;
}

 a:hover,
 a:active {
        background-color: lightseagreen;
      }

div{
    color: white;

}



