.heading {
    text-align: center;
    color: orange;
  }


a:hover,
a:active {
  background-color: lightskyblue;
}

li {
  padding: 10px;
  margin-bottom: 10px;
  color:lightskyblue;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
}




h1{
    color: orangered;
    font-family: "Roboto Condensed", sans-serif;
  }



h2{
    color: orangered;
    font-family: "Roboto Condensed", sans-serif;
  }
  
h3{
    color: orangered;
    font-family: "Roboto Condensed", sans-serif;
  }


  #workoutPara {
    color: orangered;
  }
  
  #healthyMeals {
    color: orangered;
  }
  
  #authorBio {
    color: orangered;
  }

  #introPara {
    font-size: 18px;
  }
  
  #workoutPara {
    font-size: 18px;
  }
  
  #healthyMeals {
    grid-area: nutrition;
    font-size: 18px;
  }

#authorBio {
    grid-area: bio;
  }
  
#iconPhoto{
      grid-area: photo;
      font-size: 50px;
      color: orangered;
  }
  

body{
    background-color: beige;
}

p{
    color: orangered;
    font-size: 15px;
    animation: 3s infinite alternate slidein;
}

 a:hover,
 a:active {
        background-color: lightseagreen;
      }

div{
    color: white;

}

.arraySelection{
  color: darkblue;
}
/*
.slide-panel{
  position: fixed;
  top: 0;
  bottom: 0;
  left: -14rem;
  width: 14rem;
  background: darkblue;
  color: white;
  transition: transition 0.3s ease-out;
}

.slidepanel-is-open .slide-panel .site-container{
  transform: translateX(14rem)
}
*/